{% extends "extrato/base.html" %}

{% block content %}
Por corretora

<table>
{% for c in corretoras %}

<tr>
  <td>{{ c.nome }}</td>
  <td>{{ c.total }}</td>
</tr>

{% endfor %}
</table>


<table>
  <tr>
	<td>Corretora</td>
	<td>Titulo e vencimento</td>
	<td>Qtde.</td>
	<td>Investido</td>
	<td>Preço</td>
	<td>Atualiz.</td>
  </tr>

  {% for c in corretoras %}

  {% for titulo in c.aggregates %}

  <tr>
	<td>{{ c.nome }}</td>
	<td>{{ titulo.nome }}{{ titulo.vencimento|date:"-m-d" }}</td>
	<td>{{ titulo.quantidade }}</td>
	<td>{{ titulo.precoTotal }}</td>
	<td>{{ titulo.preco }}</td>
	<td>{{ titulo.precoAtualizado|date:"Y-m-d" }}</td>
  </tr>

  {% endfor %}
  {% endfor %}
</table>
{% endblock %}
